<%= form_tag(action: :create) do %>
	<div class="field" > 
		<%=	label :book, :title %> <br/>
		<%= text_field :book, :title, size: 25 %>
	</div>
	<div class="field" > 
		<%=	label :book, :genre %> <br/>
		<%= text_field :book, :genre, size: 25 %>
	</div>

<% end %>
