

<ul	> 
	<li><%= link_to 'Search keyword', view_keyword_path %> </li>
	<li><%= link_to 'Select', view_select_path %> </li>
	<li><%= link_to 'Simple Format', view_simple_format_path %> </li>
	<li><%= link_to 'Truncate', view_truncate_path %> </li>
	<li><%= link_to 'Excerpt', view_excerpt_path %></li>
	<li><%= link_to 'Cycle View', hello_list_path %></li>
	<li><%= link_to 'Highlight', view_highlight_path%></li>
	<li><%= link_to "Concat", view_con_path %></li>
	<li><%= link_to "Sanitize", view_sanitize_path %></li>
	<li><%= link_to "Number to", view_number_to_path %></li>
	<li><%= link_to "Date", view_datetime_path%></li>
	<li><%= link_to "Link to", view_linkif_path%></li>
	<li><%= link_to 'Mutli Content', view_multi_path%></li>
	<li><%= link_to 'Book Partial Basic', view_partial_basic_path %> </li>
	<li><%= link_to 'Book Partial Params', view_partial_param_path %> </li>
	<li><%= link_to 'Book Partial Col', view_partial_col_path %> </li>
</ul>