<ul>
	<li><%= link_to 'Find' , record_find_path %></li>
	<li><%= link_to 'Find_by' , record_find_by_path %></li>
	<li><%= link_to 'Find_by2' , record_find_by2_path %></li>
	<li><%= link_to 'Where' , record_where_path %></li>
	<li><%= link_to 'Select' , record_select_path %></li>
	<li><%= link_to 'Group AVG price' , record_groupby_path%></li>
	<li><%= link_to 'Having AVG price', record_havingby_path%></li>
	<li><%= link_to 'Scope', record_scope_path%></li>
	<li><%= link_to 'Def_scope', record_def_scope_path%></li>
</ul>